{% extends 'base.html' %}

{% block title %} Result {% endblock %}


{% block content %}
<h1>History</h1>
<h2>This is all the files that have been processed by our services</h2>
<h3>Click to see the result</h3>
<div class="flex flex-col justify-center align-center items-center"></div>
<div class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white items-center">

    {% for line in history %}
 
    
    <a href="/result/{{ line }}" class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
        {{ line }}
    </a>
    {% endfor %}
</div>

{% endblock %}