{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block content %}


<p class="mb-6 mt-12 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">
  Analyze you handwritten text with our specialy trained AI's !</p>

<div class="image-container">
  <form id="file-upload-form" class="uploader" action="/analyze" method="POST" enctype="multipart/form-data">
    <div class="flex flex-col gap-10 items-center justify-center ">
      <label for="dropzone-file"
        class="flex flex-col items-center justify-center w-100 h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <img id="preview"></img>
        <div id="helper" class="flex flex-col items-center justify-center mt-5 mb-6">
          <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span>
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400 mb-6">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <input id="dropzone-file" type="file" name="file" class="hidden" onchange="showPreview(event);" />
      </label>
      {# Video #}
      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">Or</p>
      <button id="start-camera" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900">Start Camera</button>
      <div id="video_box" class="flex flex-col align-center items-center justify-center justify-items-center w-full max-w-full h-auto z-1000 absolute top-10 invisible">
        <div id="video_overlays" class="float-center"></div>
        <div>
          <video id="video" class="justify-self-center rounded-lg border border-gray-200 dark:border-gray-700" autoplay></video>
        </div>
        <button type="button" id="click-photo" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 w-30 h-10">Capture</button>
        <canvas id="canvas" class="invisible hidden w-full max-w-full h-auto"></canvas>
      </div>

      {# End Video #}


      {# Selectors  #}

      <div class="flex flex-wrap mt-10">
        <div class="flex items-center mr-4">
          <input id="red-radio" type="radio" value="" name="colored-radio"
            class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="red-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Number</label>
        </div>
        <div class="flex items-center mr-4">
          <input id="green-radio" type="radio" value="" name="colored-radio"
            class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="green-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Single word</label>
        </div>
        <div class="flex items-center mr-4">
          <input checked id="purple-radio" type="radio" value="" name="colored-radio"
            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="purple-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Multiple
            words</label>
        </div>
        <div class="flex items-center mr-4">
          <input id="teal-radio" type="radio" value="" name="colored-radio"
            class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 focus:ring-teal-500 dark:focus:ring-teal-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="teal-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Multiple
            lines</label>
        </div>
        <div class="flex items-center mr-4">
          <input id="yellow-radio" type="radio" value="" name="colored-radio"
            class="w-4 h-4 text-yellow-400 bg-gray-100 border-gray-300 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="yellow-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Auto</label>
        </div>

      </div>

      {#  Submit  #}
      <div>
        <button type="submit" id="buttonSubmit"
          class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
          <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Analyze file
          </span>
        </button>
      </div>

    </div>
  </form>
</div>

<div id="loading" class="text-center hidden">
  <div role="status">
    <svg class="inline mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101"
      fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor" />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill" />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</div>

<script>
  let camera_button = document.querySelector("#start-camera");
  let video = document.querySelector("#video");
  let video_box = document.querySelector("#video_box");
  let click_button = document.querySelector("#click-photo");
  let canvas = document.querySelector("#canvas");
  var clue = document.getElementById("helper");

  // Launch camera 
  camera_button.addEventListener('click', async function () {
    event.preventDefault();
    let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
    video.srcObject = stream;
    video_box.classList.remove("invisible");
  });

  //Capture picture with camera
  click_button.addEventListener('click', function () {
    event.preventDefault();
    canvas.height = video.videoHeight;
    canvas.width = video.videoWidth;
    image = canvas.getContext('2d').drawImage(video, 0, 0);
    let image_data_url = canvas.toDataURL();

    canvas.toBlob( (blob) => {
    const file = new File( [ blob ], "camera_capture" + Math.floor(Math.random() * (1000000 - 1000) + 1000) + ".png" );
    const dT = new DataTransfer();
    dT.items.add( file );
    document.getElementById('dropzone-file').files = dT.files;
    } );

    var preview = document.getElementById("preview");
    preview.src = image_data_url;
    preview.style.display = "block";
    preview.className += "w-100 h-64 border-2 cursor-pointer "
    clue.remove();
    video_box.classList.add("invisible");
    video.srcObject.getTracks().forEach(track => track.stop());

    

  });
</script>

<script>
  function showPreview(event) {
    if (event.target.files.length > 0) {
      var src = URL.createObjectURL(event.target.files[0]);
      var preview = document.getElementById("preview");
      var clue = document.getElementById("helper");


      preview.src = src;
      preview.style.display = "block";
      preview.className += "w-100 h-64 border-2 cursor-pointer "
      clue.remove();
    }
  }
  
  // Send file to server 
  buttonSubmit.addEventListener("click", (event) => {
    event.preventDefault();

    var loading = document.getElementById("loading");
    loading.className = "text-center"

    const input = document.getElementById('dropzone-file')
    const fd = new FormData()
    file = input.files[0]
    fd.append('file', file)

    // send `POST` request
    fetch('/analyze', {
      method: 'POST',
      body: fd
    })
      .then(res => res.json())
      .then(json => {
        console.log(json);
        loading.className = "hidden"
      })
      .catch(err => console.error(err))
  });

</script>
{% endblock %}